{%extends "layout.html"%}
{% block content %}
<div class="container">

    <form method="POST" action="" >
        {{form.hidden_tag()}}
<!--        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal" >Login</h1>

        <div class="form-floating">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
             {{ form.email.label() }}
        </div>
        <div class="form-floating">

            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
            {{ form.password.label() }}

        </div>


        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <div>
                {{ form.submit(class="btn btn-primary py-2") }}
        </div>
<!--        <button class=c type="submit">Sign in</button>-->
        <p class="mt-5 mb-3 ">© 2023</p>

    </form>
</div>
<div class="border-top pt-3">
        <small style="color:white;">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
        </small>
    </div>

{% endblock content %}