{%extends "layout.html"%}
{% block content %}
<div class="container">

    <form method="POST" action="" >
        {{form.hidden_tag()}}
<!--        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal" >Register</h1>

        <div class="form-floating">
<!--          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--            <label for="floatingInput" >{{ form.username.label.text }}</label>-->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
             {{ form.username.label() }}

        </div>
        <div class="form-floating">

            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}
             {{ form.email.label() }}
        </div>

        <div class="form-floating">
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
             {{ form.password.label() }}
        </div>
        <div class="form-floating">
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control") }}
            {% endif %}
             {{ form.confirm_password.label() }}
        </div>


        <div>
                {{ form.submit(class="btn btn-primary py-2") }}
        </div>
<!--        <button class=c type="submit">Sign in</button>-->
        <p class="mt-5 mb-3 ">© 2023</p>

    </form>
</div>
 <div class="border-top pt-3">
        <small style="color:white;">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}