body {
  background: #181a1b;
  color: #333333;
  margin-top: 5rem;
}
.custom-navbar-color{
    background-color: black;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}
#blog_name{
color:#FFFFFF;
font-weight:500;
}

.site-header .navbar-nav .nav-link {
  color:#FFFFFF;
}

#blog_name:hover,.site-header .navbar-nav .nav-link:hover {
  color: #428bca;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color:#428bca;
}

.content-section {
  background: #181a1b;
  padding: 10px 20px;
  border:none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #6D94CB;
  font-size:25px;
}

a.article-title:hover {
  color: #428bca;

  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color:#e8e6e3;
}

.article-img {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #2C3531
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  color:#E8E6E3;
}
.btn-info{
color:white;

background-color:#181a1b;
border:none;
}
.btn-info:hover,
.select
{
background-color:#181a1b;
color:#428bca;
}
.form-control-label,.form-control-file,
label,
legend{
color:#E8E6E3;
}
.auth{
color:#6C757D;
}
a.auth:hover{
color:#428bca;
}
.bi-code-slash{
margin-right:6px;
}
